<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Domain" value="domain.com"/>
    <add key="DomainController" value="DC1.domain.com"/>
    <add key="AdminUser" value="Administrator"/>
    <add key="AdminPass" value="Pass99"/>
    <add key="SamAccountOfUserToAdd" value="vssaini"/>
    <add key="CheckMemberAlreadyExist" value="true"/>
    <add key="GroupDN" value="CN=ZLab,OU=DLab,DC=Domain,DC=Com"/>
  </appSettings>
</configuration>